*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#ffe6f0,#fff7f9,#fff);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
}

.hero{
    width:90%;
    max-width:700px;
    background:rgba(255,255,255,0.75);
    backdrop-filter:blur(15px);
    padding:40px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 20px 60px rgba(0,0,0,.15);
    animation:fadeUp 1.5s ease;
}

.hero h2{
    color:#ff4f8b;
    font-size:26px;
    margin-bottom:15px;
}

.hero h1{
    font-family:'Great Vibes',cursive;
    font-size:65px;
    color:#ff2d75;
    margin-bottom:20px;
}

.hero p{
    color:#555;
    line-height:1.8;
    font-size:18px;
    margin-bottom:35px;
}

button{
    border:none;
    outline:none;
    background:#ff4f8b;
    color:white;
    padding:16px 35px;
    border-radius:50px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    background:#ff2d75;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
